#work {
    text-align: center;
    font-family: roboto;
    color: #535353;
    padding-top: 50px;
    background: white;
}

#work h5 {
    font-size: 1.25rem;
    font-weight: 599;
    margin-top: 1.5rem;
    color: #ff1737;
}

#work h2  {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #18191d;
    line-height: 1.2;
    margin: 0 auto 1.5rem;
}

#work p.desc {
    max-width: 950px;
    margin: 0 auto;
    padding-top: 40px;
    margin-bottom: 20px;
}